<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../assets/css/layout.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/slick.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" rel="stylesheet">
        <!-- Javsscript -->
        <script src="../assets/js/jquery-2.2.4.min.js"></script>
        <script src="../assets/js/slick.min.js"></script>
        <script src="../assets/js/common.js"></script>
        
        <!-- hmlt5 support -->
        
        <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.js"></script>
        <![endif]-->

        <!--[if lte IE 8]>
        <p style="font-size: 12px; color: #fff; background: #2885b0; padding:5px 0; margin: 0; text-align: center">
            사용하고 계신 브라우저는 최신 웹 브라우저가 아닙니다. 업그레이드를 하거나 다른 최신 브라우저 사용을 권장합니다.
            <a href="http://www.microsoft.com/korea/ie" target="_blank" >업그레이드,</a>
            <a href="http://www.mozilla.or.kr/ko/" target="_blank">파이어폭스,</a>
            <a href="http://kr.opera.com/download/" target="_blank">오페라,</a>,
            <a href="http://support.apple.com/kb/DL1531?viewlocale=ko_KR&locale=ko_KR" target="_blank">사파리,</a>
            <a href="http://www.google.com/chrome?hl=ko" target="_blank">크롬</a>
        </p>
        <![endif]-->

        <!--// hmlt5 support -->
    </head>
    <body>
        <div id="wrap">
            <div class="loading">
                <strong>Loading...</strong>
                <span class="stick"></span>
                <span class="stick"></span>
                <span class="stick"></span>
                <span class="stick"></span>
                <span class="stick"></span>
                <span class="stick"></span>
            </div>
            <!-- //loading -->

            <div id="skipNav">
                <a href="#main_wrap" class="navMenu">본문으로 바로가기</a>
            </div>
            <!-- // skipNav -->
            
            <div id="main_wrap">
                <div id="main_area" class="main_area section_area">
                    <div class="main_border_box">
                        <div class="main-element">
                            <h1 class="tit">PORTFOLIO</h1>
                            <div class="tag_txt">
                                <span class="tag">#반응형</span>
                                <span class="tag">#웹표준성</span>
                                <span class="tag">#웹접근성</span>
                                <span class="tag">#크로스브라우징</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // main -->

                <div id="area_wrap" class="area_wrap area_slider section_area">
                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Responsive Site</span>
                                <span>01</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ http://t0001.ideapm.com/ ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- scss</p>
                                <p class="txt">- bxSlider , owl-carousel</p>
                            </div>
                            <div class="pot_img_box img01"></div>
                        </div>
                    </div>
                    <!-- // section01 -->

                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Responsive Site</span>
                                <span>02</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ http://t0005.ideapm.com/ ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- scss</p>
                                <p class="txt">- bxSlider , owl-carousel</p>
                            </div>
                            <div class="pot_img_box img02"></div>
                        </div>
                    </div>
                    <!-- // section02 -->

                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Responsive Site</span>
                                <span>03</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ http://t0026.ideapm.com/ ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- scss</p>
                                <p class="txt">- bxSlider , slick</p>
                            </div>
                            <div class="pot_img_box img03"></div>
                        </div>
                    </div>
                    <!-- // section03 -->

                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Responsive Site</span>
                                <span>04</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ http://t0030.ideapm.com/ ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- scss</p>
                                <p class="txt">- bxSlider , owl-carousel</p>
                            </div>
                            <div class="pot_img_box img04"></div>
                        </div>
                    </div>
                    <!-- // section04 -->
                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Responsive Site</span>
                                <span>05</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ http://www.sporexbowl-ts.com/ ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- scss</p>
                                <p class="txt">- bxSlider , slick</p>
                            </div>
                            <div class="pot_img_box img05"></div>
                        </div>
                    </div>
                    <!-- // section05 -->

                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Responsive Site</span>
                                <span>06</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ https://www.ssif.or.kr/ ]</p>    
                                <p class="txt">- publishing 80%</p>
                                <p class="txt">- header, footer, subpage</p>
                                <p class="txt">- 중앙회 공제사업, 학교안전공제제도, 중앙회 소식</p>
                            </div>
                            <div class="pot_img_box img06"></div>
                        </div>
                    </div>
                    <!-- // section06 -->

                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Web Site</span>
                                <span>07</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ 해당 사이트는 서비스가 종료되었습니다  ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- web scss </p>
                                <p class="txt">- 웹앱 작업 </p>
                            </div>
                            <div class="pot_img_box img07"></div>
                        </div>
                    </div>
                    <!-- // section07 -->

                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Web Site</span>
                                <span>08</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ http://seoul-dev.kai-i.com/ ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- bootstrap, dashboard</p>
                            </div>
                            <div class="pot_img_box img08"></div>
                        </div>
                    </div>
                    <!-- // section08 -->

                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Web Site</span>
                                <span>09</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ http://design-dev.kai-i.com/ ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- bootstrap</p>
                            </div>
                            <div class="pot_img_box img09"></div>
                        </div>
                    </div>
                    <!-- // section09 -->

                    <div class="section">
                        <div class="inner_sec">
                            <h2 class="head_tit">
                                <span class="site_tit">Web Site</span>
                                <span>10</span>
                            </h2>
                            <div class="dec_box">
                                <p class="link_txt">[ 공공기관 사이트입니다 ]</p>    
                                <p class="txt">- publishing 100%</p>
                                <p class="txt">- 웹접근성/웹표준성 준수</p>
                                <p class="txt">- easy ui grid</p>
                            </div>
                            <div class="pot_img_box img10"></div>
                        </div>
                    </div>
                    <!-- // section10 -->
                </div>
                <!-- // portfolio list -->

                <div id="skill_wrap" class="skill_wrap section_area">
                    <div class="container">
                        <article class="area_mid">
                            <h3>SKILL</h3>
                            <div class="skillBox">
                                <div class="percent percent_color01 advanced" data-skill="HTML5"></div>
                                <div class="percent percent_color02 advanced" data-skill="CSS/SCSS"></div>
                                <div class="percent percent_color03 basic" data-skill="JQUERY"></div>
                                <div class="percent percent_color04 basic_02" data-skill="JAVASCRIPT"></div>
                                <div class="percent percent_color05 intermediate" data-skill="BOOTSTRAP"></div>
                            </div>
                        </article>
                    </div>
                    <!-- // skill -->
                    <div class="footer_area" id="footer">
                        <footer>
                            <h1 class="hidden">footer</h1>
                            <div class="container">
                                <div>
                                    <p>저의 포토폴리오를 봐주셔서 감사합니다.</p>
                                    <p>더욱 능동적이고 창의적으로 다가겠습니다.</p>
                                </div>
                                <div class="address_div">
                                    <ul>
                                        <li><span>010-2750-1141</span></li>
                                        <li><span>haemi9112@gmail.com</span></li>
                                    </ul>
                                </div>
                                <p class="copyright"> 
                                    ©Copyright 2021. LEE Hae Mi all right reserved
                                </p>
                            </div>
                        </footer>
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>
